<h1>Каталог предохранителей</h1>

<button class="btn btn-default"
        (click)="openModalCreateOrEditCharacteristic(null)">
    Создать характеристику
</button>


<table class="table">
    <thead class="thead-default">
    <tr>
        <th>Серия</th>
        <th>Тип</th>
        <th>Производитель</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pointTemplate of pointTemplates">
        <td>{{pointTemplate.series}}</td>
        <td>{{pointTemplate.type}}</td>
        <td>{{pointTemplate.manufacture}}</td>
        <td>
            <button type="button" class="btn btn-secondary btn-sm" (click) = "openModalCreateOrEditCharacteristic(pointTemplate)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click) = "deletePointsTemplate(pointTemplate)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>

