<div class="container">
<ngb-tabset>
    <ngb-tab title="Характеристики">
        <ng-template ngbTabContent>
            <workspace></workspace>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Предохранители">
        <ng-template ngbTabContent>
            <fuse-catalog></fuse-catalog>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Автоматические выключатели">
        <ng-template ngbTabContent>
            <switcher-catalog></switcher-catalog>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>>



