@import "../../../content/scss/custom_variables.scss";

.setup-block{
    width:100%;
    margin-bottom: 15px;

    &__title{
        background: $color-turquoise;
        color: #fff;
        width:100%;
        padding: 10px;
        font-size:1.5rem;
        margin:0;
    }

    &__content{
        border-left:1px solid $color-gray;
        border-right: 1px solid $color-gray;
        border-bottom: 1px solid $color-gray;
        padding: 15px;
    }
    &__alert{
        margin-bottom: 0;
    }


    &__visable-label{
        cursor: pointer;
    }
    &__visable-input:not(checked){
        position: absolute;
        opacity: 0;
    }

    &__visable-input:not(checked) + .setup-block__visable-label{
        position:relative;
    }
    &__visable-input:not(checked) + .setup-block__visable-label::before{
        content: "\F06E";
        font-family: FontAwesome;
        color: #cbcbcb;
    }
    &__visable-input:checked + .setup-block__visable-label::before{
        color: #000000;
    }

    &__color{
        width:15px;
        height:15px;
        display:inline-block;
    }


}

.description{
    display:none;
    transition: all 0.5s;
    &.show{
        display: table-row;
    }
}


.tab{
    padding-top:40px;
}
