<div class="tools container">
    <div class="tools__item">
        <p class="tools__data">Опубликовано 04 марта 2017</p>
        <div class="tools__authors authors">
            <div class="tools__author authors__item">
                <img src="../../content/images/topolev.jpg" class="authors__photo">
                <div class="authors__title">
                    <p class="authors__name">Владимир</p>
                    <a class="authors__tag" href="">@topolev</a>
                </div>
            </div>
            <div class="tools__author authors__item">
                <img src="../../content/images/nologo.png" class="authors__photo">
                <div class="authors__title">
                    <p class="authors__name">Владимир</p>
                    <a class="authors__tag" href="">@topolev</a>
                </div>
            </div>
        </div>
        <a class="tools__title" href="">Построение время-токовых характеристик</a>
        <p class="tools__description">
            Для оценки селективности срабатывания защит часто приходится строить
            время-токовые характеристики. Для их построения можно использовать
            различные подручные средства: начиная с построения в ручную на листе
            бумаге, заканчивая использованием MathCad. Excel. Мы разаработали свой
            инструмент, который в себя будет включать только самое необходимое,
            что надеемся в конечном итоге сможет сохранить Вам время и сфокусироваться
            на более важных расчетах.
        </p>
        <div class="tags">
            <span class="fa fa-tags tags__label"></span>
            <a href="" class="tags__tag">РЗА</a>,
            <a href="" class="tags__tag">Расчет уставок</a>,
            <a href="" class="tags__tag">Автоматические выключатели</a>,
            <a href="" class="tags__tag">Карта селективности</a>
        </div>
    </div>
</div>
