<div class="coordinate-panel">
    <canvas height="500" class="coordinate-panel__layer" width="500" #workSpace></canvas>
    <canvas height="500" class="coordinate-panel__layer" width="500" #intermidiateXAxis></canvas>
    <canvas height="500" class="coordinate-panel__layer" width="500" #intermidiateYAxis></canvas>
    <canvas height="500" class="coordinate-panel__layer" width="500" #curves></canvas>
    <canvas height="500" class="coordinate-panel__layer" width="500" #staticSlice></canvas>
    <canvas height="500" class="coordinate-panel__layer" width="500" #slice></canvas>
</div>
